

{% macro display_session_data(session_data) %}
<div id="session-data-container">
    
    <div class="session-data box">
        <h4 class="title is-4">Session Data</h4>
        <div class="content">
            <ul class="is-size-6 has-list-style-none">
                <li class="notification is-primary is-light py-1">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <span>User: {{ session_data.usr }}</span>
                    </span>
                </li>
                <li class="notification is-info is-light py-1">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-clock"></i>
                        </span>
                        <span>Created: {{ session_data.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>



</div>
{% endmacro %}
